/* ##############################################################################

    COMMON

############################################################################## */
  
  body {
    font: 15px/1.231 'YuGothic', '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', sans-serif;
    font-weight: 500;
    font-feature-settings: "palt";
    line-height: 1.8;
    letter-spacing: .08em;
    text-align: justify;
    *font-size: small;
    *font: x-small;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
  }
  @media all and (-ms-high-contrast:none) {
    body {
      font-family: 'メイリオ', 'Meiryo', 'Lato', 'YuGothic', '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
    }
  }
  ul,
  ol { list-style: none; }
  small { font-size: 86%; }
  a {
    color: #000;
    text-decoration: none;
    outline : none;
  }
  a:hover {
    text-decoration: none;
  }

  @media screen and (max-width: 767px) {
    body {
      font-size: 14px;
      -webkit-text-size-adjust: none;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }


