/* ##############################################################################

    GNAV - 01

############################################################################## */

/* grid
*************************************************** */
  .gnav--cont {
    display: grid;
    grid-template-areas:
      'page comp'
      'page sub'
      'sns sns'
      'btn btn';
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr) repeat(2,max-content);
  }
  .gnav_list-page { grid-area: page; }
  .gnav_list-comp { grid-area: comp; }
  .gnav .sub_list { grid-area: sub; }
  .gnav .sns_area { grid-area: sns; }
  .gnav .head_btn_list { grid-area: btn; }

  .gnav--logo,
  .gnav .tel_area { display: none; }

  @media screen and (max-width: 768px) {
    .gnav--cont {
      grid-template-areas:
        'page'
        'comp'
        'sub'
        'sns'
        'btn';
      grid-template-rows: repeat(5,max-content);
      grid-template-columns: none;
    }
  }

/* common
*************************************************** */
  .gnav--in {
    height: 100%;
    width: 50%;
    margin-left: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .gnav--cont {
    width: 100%;
    overflow-y: scroll;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 8vw;
    padding-right: 8vw;
  }
  .gnav.pdg-head_btn .gnav--cont {
    padding-bottom: 148px;
  }
  .gnav--cont > * {
    width: 100%;
  }
  @media screen and (max-width: 1480px) {
    .gnav--in {
      width: 65%;
    }
  }
  @media screen and (max-width: 768px) {
    .gnav--in {
      -webkit-justify-content: start;
      -ms-flex-pack: start;
      justify-content: start;
    }
  }
  @media screen and (max-width: 768px) {
    .gnav--in {
      width: calc(100% - 24px);
    }
    .gnav--cont {
      padding-left: 32px;
      padding-right: 32px;
    }
    .gnav.pdg-head_btn .gnav--cont {
      padding-bottom: 108px;
    }
  }
  @media screen and (max-width: 413px) {
    .gnav--cont {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

/* gnav_layer
*************************************************** */
  .gnav_layer::before {
    opacity: .5;
  }
  .gnav_layer .bg_img {
    top: 50%;
    left: 25%;
    width: 300px;
    height: 400px;
    background-image: url(https://placehold.jp/32/4c5162/ffffff/300x400.png?text=dummy);
    transform: translate(-50%,-50%);
  }
  @media screen and (max-width: 1480px) {
    .gnav_layer .bg_img {
      left: 17.5%;
      width: 220px;
      height: 293px;
    }
  }
  @media screen and (max-width: 768px) {
    .gnav_layer .bg_img {
      display: none;
    }
  }

/* gnav--logo
*************************************************** */
  .gnav--cont .gnav--logo {
    display: none;
  }

/* gnav_list
*************************************************** */
  .gnav_list {
    row-gap: 32px;
  }
  .gnav_list--item .ico-arrow {
    display: none;
  }
  .gnav_list--item .gnav_list--item_in .label {
    row-gap: 8px;
  }
  .gnav_list--item .gnav_list--item_in .txt:nth-of-type(1) {
    font-size: 116%;
  }
  .gnav_list--item .gnav_list--item_in .txt:nth-of-type(2) {
    font-size: 70%;
    opacity: .65;
  }

  /* --- comp ---  */
  .gnav_list-comp .snav_list {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .gnav_list-page {
      margin-bottom: 32px;
    }
  }
  @media screen and (max-width: 560px) {
    .gnav_list {
      row-gap: 20px;
    }
    .gnav_list--item .gnav_list--item_in .label {
      row-gap: 10px;
    }
    .gnav_list-page {
      margin-bottom: 20px;
    }
    .gnav_list-page .gnav_list--item_in .txt:nth-of-type(1) {
      font-size: 114%;
    }
    .gnav_list-page .gnav_list--item_in .txt:nth-of-type(2) {
      font-size: 79%;
    }
    .gnav_list-comp {
      column-gap: 16px;
    }
    .gnav_list-comp .gnav_list--item_in {
      font-size: 93%;
    }
  }

/* snav_list
*************************************************** */
  .snav_list {
    margin-top: 16px;
    row-gap: 8px;
    padding-left: 16px;
  }
  .snav_list--item_in .ttl {
    column-gap: 8px;
  }
  @media screen and (max-width: 560px) {
    .snav_list {
      margin-top: 12px;
      row-gap: 6px;
      padding-left: 12px;
    }
  }

/* sub_list
*************************************************** */
  .gnav .sub_list {
    margin-top: 24px;
    margin-left: auto;
    column-gap: 24px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  @media screen and (max-width: 560px) {
    .gnav .sub_list {
      column-gap: 12px;
    }
    .gnav .sub_list--item {
      font-size: 88%;
    }
  }

/* sns_list
*************************************************** */
  .gnav .sns_area {
    column-gap: 16px;
    margin-top: 40px;
  }
  .gnav .sns_list {
    column-gap: 8px;
  }
  @media screen and (max-width: 560px) {
    .gnav .sns_area {
      margin-top: 32px;
    }
  }

/* tel_area
*************************************************** */
  .tel_area {
    margin-top: 48px;
  }
  .tel_area .tel {
    column-gap: 16px;
    row-gap: 8px;
  }
  .tel_area a {
    column-gap: 12px;
    font-size: 240%;
    line-height: 1em;
  }
  .tel_area .open_close {
    font-size: 86%;
    opacity: .8;
  }
  @media screen and (max-width: 768px) {
    .tel_area a {
      column-gap: 8px;
      font-size: 200%;
    }
    .tel_area a svg {
      width: 26px;
      height: 26px;
    }
  }

/* head_btn_list
*************************************************** */
  .gnav .head_btn_list {
    margin-top: 40px;
    width: 100%;
  }
  .gnav .head_btn_list.head_btn_clm-1 .head_btn_list--item {
    width: 100%;
  }
  .gnav .head_btn_list.head_btn_clm-2 .head_btn_list--item {
    width: 50%;
  }
  .gnav .head_btn_list.head_btn_clm-3 .head_btn_list--item {
    width: calc(100% / 3);
  }
  .gnav .head_btn_list--item .head_btn--in {
    height: 104px;
    column-gap: 40px;
  }
  .gnav .head_btn_list--item .label {
    row-gap: 8px;
  }
  .gnav .head_btn_list--item .txt:nth-of-type(1) {
    font-size: 120%;
  }
  .gnav .head_btn_list--item .txt:nth-of-type(2) {
    font-size: 80%;
  }
  @media screen and (max-width: 560px) {
    .gnav .head_btn_list {
      margin-top: 32px;
    }
    .gnav .head_btn_list--item .head_btn--in {
      height: 64px;
    }
  }


/* ##############################################################################

    TAP TRUE

############################################################################## */
  @media screen and (min-width: 769px) {
    .header.slide_true .snav_list--item-parent {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .header.slide_true .gnav_list-comp .gnav_list--item.has_sub .gnav_list--item_in {
      padding-right: 0;
    }
    .header.slide_true .gnav_list-comp .gnav_list--item.has_sub .gnav_list--item_in .ico-arrow {
      display: none;
    }
  }
