/* ##############################################################################

    GNAV - 01

############################################################################## */

/* grid
*************************************************** */
  .gnav--cont {
    display: grid;
    grid-template-areas:
      'comp page page page'
      'sub sub sub sub'
      'tel tel btn btn';
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,max-content);
  }
  .gnav--logo { grid-area: logo; }
  .gnav_list-page { grid-area: page; }
  .gnav_list-comp { grid-area: comp; }
  .gnav .sub_list { grid-area: sub; }
  .gnav .tel_area { grid-area: tel; }
  .gnav .sns_area { grid-area: sns; }
  .gnav .head_btn_list { grid-area: btn; }

  @media screen and (max-width: 1480px) {
    .gnav--cont {
      grid-template-areas:
        'page page'
        'comp comp'
        'sub sub'
        'tel btn';
      grid-template-columns: repeat(2,1fr);
    }
  }
  @media screen and (max-width: 960px) {
    .gnav--cont {
      grid-template-areas:
        'page'
        'comp'
        'sub'
        'tel'
        'btn';
      grid-template-columns: none;
      grid-template-rows: repeat(5,max-content);
    }
  }
  @media screen and (max-width: 768px) {
    .gnav--cont {
      grid-template-areas:
        'logo'
        'page'
        'comp'
        'tel'
        'btn'
        'sns'
        'sub';
      grid-template-rows: repeat(7,max-content);
    }
  }

/* common
*************************************************** */
  .gnav--in {
    height: 100%;
    width: 100%;
    margin-left: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .gnav--cont {
    width: 100%;
    max-width: 1580px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
  }
  .gnav.pdg-head_btn .gnav--cont {
    padding-bottom: 148px;
  }
  .gnav--cont > * {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    .gnav--in {
      -webkit-justify-content: start;
      -ms-flex-pack: start;
      justify-content: start;
    }
    .gnav--cont {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  @media screen and (max-width: 560px) {
    .gnav.pdg-head_btn .gnav--cont {
      padding-bottom: 108px;
    }
  }
  @media screen and (max-width: 413px) {
    .gnav--cont {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

/* gnav_layer
*************************************************** */
  .gnav_layer .bg_img {
    width: 50%;
    background-image: url(https://placehold.jp/32/4c5162/ffffff/960x540.png?text=dummy);
    opacity: .9;
  }
  @media screen and (max-width: 1480px) {
    .gnav_layer .bg_img {
      width: 25%;
    }
  }
  @media screen and (max-width: 560px) {
    .gnav_layer .bg_img {
      display: none;
    }
  }

/* gnav--logo
*************************************************** */
  .gnav--cont .gnav--logo {
    position: fixed;
    top: 20px;
    left: 40px;
  }
  @media screen and (max-width: 768px) {
    .gnav--cont .gnav--logo {
      position: static;
      margin-top: 12px;
      margin-left: -8px;
      margin-bottom: 40px;
    }
  }
  @media screen and (max-width: 560px) {
    .gnav--cont .gnav--logo {
      margin-top: 15px;
      margin-left: -16px;
      margin-bottom: 32px;
    }
    .gnav--cont .gnav--logo img {
      width: 120px;
    }
  }
  @media screen and (max-width: 560px) {
    .gnav--cont .gnav--logo {
      margin-left: -8px;
      margin-bottom: 24px;
    }
  }

/* gnav_list
*************************************************** */
  .gnav_list {
    row-gap: 32px;
  }
  .gnav_list--item .ico-arrow {
    display: none;
  }
  .gnav_list--item .gnav_list--item_in .label {
    row-gap: 8px;
  }
  .gnav_list .gnav_list--item_in .txt:nth-of-type(1) {
    font-size: 133%;
  }
  .gnav_list .gnav_list--item_in .txt:nth-of-type(2) {
    font-size: 80%;
    opacity: .65;
  }
  .gnav_list-comp {
    width: calc(100% / 5);
  }
  .gnav_list-page {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .gnav_list-page .gnav_list--item {
    width: calc(100% / 4);
  }

  @media screen and (max-width: 1480px) {
    .gnav_list-page {
      width: 100%;
    }
    .gnav_list-comp {
      width: 100%;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-top: 48px;
      row-gap: 48px;
    }
    .gnav_list-comp .gnav_list--item {
      width: 25%;
    }
  }
  @media screen and (max-width: 768px) {
    .gnav_list-comp {
      margin-top: 32px;
      row-gap: 32px;
    }
    .gnav_list-page .gnav_list--item,
    .gnav_list-comp .gnav_list--item {
      width: 100%;
    }
  }
  @media screen and (max-width: 560px) {
    .gnav_list {
      row-gap: 20px;
    }
    .gnav_list--item .gnav_list--item_in .label {
      row-gap: 10px;
    }
    .gnav_list--item .gnav_list--item_in .txt:nth-of-type(1) {
      font-size: 114%;
    }
    .gnav_list--item .gnav_list--item_in .txt:nth-of-type(2) {
      font-size: 79%;
    }
    .gnav_list-comp {
      margin-top: 20px;
      row-gap: 20px;
    }
  }

/* snav_list
*************************************************** */
  .snav_list {
    margin-top: 16px;
    row-gap: 8px;
    padding-left: 16px;
  }
  .snav_list--item_in .ttl {
    column-gap: 8px;
  }
  @media screen and (max-width: 560px) {
    .snav_list {
      margin-top: 12px;
      row-gap: 6px;
      padding-left: 12px;
    }
  }

/* sub_list
*************************************************** */
  .gnav .sub_list {
    width: 100%;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 8px;
    margin-left: auto;
    column-gap: 24px;
  }
  @media screen and (max-width: 768px) {
    .gnav .sub_list {
      margin-top: 8px;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }
  @media screen and (max-width: 560px) {
    .gnav .sub_list {
      column-gap: 16px;
    }
    .gnav .sub_list--item {
      font-size: 88%;
    }
  }

/* sns_list
*************************************************** */
  .gnav .sns_area {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: auto;
    column-gap: 16px;
    margin-top: 16px;
    margin-left: auto;
  }
  .gnav .sns_list {
    column-gap: 8px;
  }
  @media screen and (max-width: 768px) {
    .gnav .sns_area {
      position: static;
      margin-top: 24px;
      margin-left: auto;
      margin-right: auto;
    }
  }

/* tel_area
*************************************************** */
  .tel_area {
    width: auto;
    margin-right: 40px;
    margin-top: calc(48px + 24px);
    margin-left: auto;
  }
  .tel_area .tel {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    column-gap: 16px;
    row-gap: 8px;
  }
  .tel_area a {
    column-gap: 12px;
    font-size: 240%;
    line-height: 1em;
  }
  .tel_area .open_close {
    font-size: 86%;
    opacity: .8;
  }
  @media screen and (max-width: 960px) {
    .tel_area {
      width: 100%;
      margin-right: 0;
      margin-top: 32px;
    }
    .tel_area .tel {
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
  @media screen and (max-width: 768px) {
    .tel_area a {
      column-gap: 8px;
      font-size: 200%;
    }
    .tel_area a svg {
      width: 26px;
      height: 26px;
    }
  }

/* head_btn_list
*************************************************** */
  .gnav .head_btn_list {
    width: 440px;
    margin-top: 48px;
    margin-right: auto;
  }
  .gnav .head_btn_list.head_btn_clm-1 .head_btn_list--item {
    width: 100%;
  }
  .gnav .head_btn_list.head_btn_clm-2 .head_btn_list--item {
    width: 50%;
  }
  .gnav .head_btn_list.head_btn_clm-3 .head_btn_list--item {
    width: calc(100% / 3);
  }
  .gnav .head_btn_list--item .head_btn--in {
    height: 104px;
    column-gap: 40px;
  }
  .gnav .head_btn_list--item .label {
    row-gap: 8px;
  }
  .gnav .head_btn_list--item .txt:nth-of-type(1) {
    font-size: 120%;
  }
  .gnav .head_btn_list--item .txt:nth-of-type(2) {
    font-size: 80%;
  }
  @media screen and (max-width: 960px) {
    .gnav .head_btn_list {
      width: 100%;
      margin-top: 16px;
      margin-left: auto;
    }
  }
  @media screen and (max-width: 560px) {
    .gnav .head_btn_list--item .head_btn--in {
      height: 64px;
    }
  }


/* ##############################################################################

    TAP TRUE

############################################################################## */
  @media screen and (min-width: 769px) {
    .header.slide_true ~ .gnav .snav_list--item-parent {
      display: none;
    }
  }
  @media screen and (max-width: 768px) {
    .header.slide_true ~ .gnav .gnav_sub {
      margin-top: -24px;
    }
    .header.slide_true ~ .gnav .gnav_list-comp .gnav_list--item.has_sub .gnav_list--item_in {
      padding-right: 0;
    }
    .header.slide_true ~ .gnav .gnav_list-comp .gnav_list--item.has_sub .gnav_list--item_in .ico-arrow {
      display: none;
    }
  }
