/* ##############################################################################

    MEGAMENU - 01

############################################################################## */
  .megamenu {
    left: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
  }
  .megamenu .inner {
    column-gap: 40px;
  }
  .megamenu_desc {
    width: 320px;
    padding-right: 40px;
  }
  .megamenu_desc .img_area {
    width: 100%;
    padding-top: 56.25%;
    margin-bottom: 12px;
  }
  .megamenu_list {
    gap: 24px;
  }
  .megamenu_list--item {
    width: calc(100% / 3 - 16px);
  }
  .megamenu_list--item_in {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    column-gap: 12px;
  }
  .megamenu_list--item .img_area {
    width: 35%;
    padding-top: 20%;
    background-color: #f8f8f8;
  }
  @media screen and (max-width: 1280px) {
    .megamenu .inner {
      column-gap: 32px;
    }
    .megamenu_desc {
      width: 312px;
      padding-right: 32px;
    }
    .megamenu_list--item {
      width: calc(50% - 12px);
    }
  }