/* ##############################################################################

    MEGAMENU - 01

############################################################################## */
  
  .hnav_list--item:hover .megamenu {
    opacity: 1;
    pointer-events: all;
  }

  .megamenu {
    position: absolute;
    left: -20px;
    top: calc(50% + 1.5em);
    padding: 8px;
    width: calc(100% + 40px);
    opacity: 0;
    pointer-events: none;
    background-color: rgba(250,250,250,.5);
  }
  .megamenu::before {
    inset: 8px;
  }
  .megamenu_desc {
    padding: 16px 16px 20px;
  }
  .megamenu_desc .txt_area {
    padding-left: 8px;
    padding-right: 8px;
  }
  .megamenu_list {
    padding: 20px;
    gap: 8px;
    background-color: #f1f3f1;
    border-radius: 0 3px 3px 0;
  }
  .megamenu_list--item {
    width: calc((100% - 8px*1) / 2);
  }
  .hnav_list--item-workshop .megamenu_list--item {
    width: calc((100% - 8px*2) / 3);
  }
  .megamenu_list--item .img {
    width: 100%;
    height: 128px;
  }
  .megamenu_list--item .txt_area {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .megamenu_list--item .snav_ttl .flx {
    column-gap: 6px;
  }
  .megamenu_list--item .child_list {
    padding-left: 10px;
  }
  .megamenu_list--item .child_list--item:not(:last-child) {
    margin-bottom: 4px;
  }
  .megamenu_list--item .cnav_ttl .flx {
    column-gap: 6px;
  }
  @media screen and (max-width: 1280px) {
    .megamenu .inner {
      column-gap: 32px;
    }
    .megamenu_desc {
      width: 312px;
      padding-right: 32px;
    }
    .megamenu_list--item {
      width: calc(50% - 12px);
    }
  }