/* ##############################################################################

    PAGEHEAD - 01

############################################################################## */

  .page_head {
    padding-top: 80px;
  }
  .page_head .inner {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    column-gap: 96px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .page_head .inner::before {
    top: 120px;
    left: 50%;
    translate: -50% 0;
    width: 100vw;
    height: 100%;
  }
  .page_head .txt_area {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1;
    padding-top: 192px;
    padding-bottom: 32px;
  }
  .page_head .txt_area .page_ttl {
    row-gap: 32px;
  }
  .page_head .txt_area .page_ttl-jp,
  .page_head .txt_area .page_ttl-en {
    display: block;
    line-height: 1em;
  }
  .page_head .txt_area .page_ttl-jp {
    font-size: 280%;
    letter-spacing: .2em;
  }
  .page_head .txt_area .page_ttl-en {
    font-size: 108%;
    letter-spacing: .3em;
    text-transform: uppercase;
  }
  .page_head .txt_area .page_txt {
    margin-top: 40px;
  }
  .page_head .img_area {
    width: 50%;
    padding-top: 66.666%;
  }
  .page_head #breadcrumbs {
    margin-top: auto;
  }
  @media (max-width: 1280px) {
    .page_head .inner {
      column-gap: 64px;
    }
    .page_head .txt_area {
      padding-top: 152px;
    }
    .page_head .txt_area .page_ttl-jp {
      font-size: 240%;
    }
    .page_head .txt_area .page_ttl-en {
      font-size: 100%;
    }
    .page_head .img_area {
      width: 42%;
      padding-top: 56%;
    }
  }
  @media (max-width: 960px) {
    .page_head .inner {
      padding-top: 0;
      column-gap: 40px;
    }
    .page_head .inner::before {
      top: 32px;
    }
    .page_head .img_area {
      width: 35%;
      padding-top: 43.555%;
    }
    .page_head .txt_area {
      padding-top: 88px;
    }
    .page_head .txt_area #breadcrumbs {
      margin-top: 24px;
    }
  }
  @media (max-width: 768px) {
    .page_head .inner {
      padding-bottom: 0;
    }
    .page_head .img_area {
      position: absolute;
      top: 0;
      right: 0;
    }
    .page_head .txt_area {
      padding-top: 32px;
    }
    .page_head .txt_area .page_ttl {
      max-width: 60%;
      row-gap: 20px;
      height: 35vw;
      -webkit-justify-content: end;
      -ms-flex-pack: end;
      justify-content: end;
      padding-bottom: 24px;
    }
    .page_head .txt_area .page_ttl-jp {
      font-size: 200%;
    }
    .page_head .txt_area .page_txt {
      margin-top: 32px;
    }
  }
  @media (max-width: 560px) {
    .page_head .inner {
      row-gap: 32px;
    }
    .page_head .txt_area .page_ttl {
      row-gap: 16px;
      padding-bottom: 16px;
    }
    .page_head .txt_area .page_ttl-jp {
      font-size: 157%;
    }
    .page_head .txt_area .page_txt {
      margin-top: 16px;
    }
    .page_head .txt_area .page_ttl-en {
      font-size: 88%;
    }
  }

