/* ##############################################################################

    PAGEHEAD - 04

############################################################################## */

  .page_head {
    padding-top: 80px;
  }
  .page_head .inner {
    padding-top: 120px;
  }
  .page_head .txt_area {
    order: 1;
    row-gap: 32px;
    column-gap: 96px;
    width: 100%;
    margin-bottom: 64px;
    padding-bottom: 64px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
  .page_head .txt_area .page_ttl {
    row-gap: 24px;
  }
  .page_head .txt_area .page_ttl-en,
  .page_head .txt_area .page_ttl-jp {
    line-height: 1em;
  }
  .page_head .txt_area .page_ttl-en {
    order: 1;
    text-transform: uppercase;
    font-size: 400%;
  }
  .page_head .txt_area .page_ttl-jp {
    order: 2;
    font-size: 108%;
  }
  .page_head .img_area {
    order: 2;
    width: calc( (100vw - 100%) / 2 + 100% );
    padding-top: 31%;
  }
  .page_head #breadcrumbs {
    margin-top: 0;
    width: 100%;
    text-align: right;
  }
  @media (max-width: 1280px) {
    .page_head .txt_area {
      column-gap: 64px;
    }
    .page_head .txt_area .page_ttl-en {
      font-size: 320%;
    }
  }
  @media (max-width: 1064px) {
    .page_head .inner {
      padding-top: 64px;
    }
    .page_head .txt_area {
      row-gap: 28px;
      padding-bottom: 48px;
      margin-bottom: 48px;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .page_head .txt_area .page_ttl {
      row-gap: 20px;
    }
    .page_head .txt_area .page_ttl-en {
      font-size: 280%;
    }
    .page_head .img_area {
      padding-top: 40%;
    }
    .page_head #breadcrumbs {
      text-align: left;
    }
  }
  @media (max-width: 560px) {
    .page_head .inner {
      padding-top: 24px;
    }
    .page_head .txt_area {
      row-gap: 24px;
      padding-bottom: 32px;
      margin-bottom: 32px;
    }
    .page_head .txt_area .page_ttl {
      row-gap: 16px;
    }
    .page_head .txt_area .page_ttl-en {
      font-size: 200%;
    }
    .page_head .txt_area .page_ttl-jp {
      font-size: 88%;
    }
    .page_head .img_area {
      padding-top: 45%;
    }
  }

